.total_block
  .block
    .grid_4.alignright
      Sous total panier
    .grid_6.alpha.omega
      %span.space
        &nbsp;
      = price_with_currency(current_cart.total({:cart_voucher_discount => false, :cart_special_offer_discount => false, :product_voucher_discount => false, :patronage => false}))
    .clear
    .clear
  .block
    .grid_4.alignright
      Réduction panier
    .grid_6.alpha.omega
      %span.space
        &nbsp;
      = price_with_currency(current_cart.discount)
    .clear
  %br
  #total_block.block
    .grid_4.alignright
      Prix total TTC
    .grid_6.alpha.omega
      %span.big_price
        #{price_with_currency(current_cart.total)} TTC
    .clear

.order_block
  .grid_4.alignright
    - link_to root_path do 
      Continuer vos achats
  .grid_6.alpha.omega
    - form_tag url_for(:controller => 'order', :action => 'deliveries'), :method => :post do
      %span.space
        &nbsp;
      = submit_tag 'Commander'
  .clear
