textarea, input[type="text"], input[type="password"]
  border: solid 1px #b2b2b2
  +borderCorner()

  &.error_on_this_field
    border-color: #f00

.field_error
  color: #f00

.account_form
  label,
  textarea,
  input[type="text"],
  input[type="password"]
    display: block
    
