%p
  Email :
  %span#email= @user.email
  %br
  Password:
  %span#password= @password
%p
  - link_to(url = new_password_user_url(:user_token => @user.perishable_token), :id => 'reset_password') do
    = url
