%p
  %span#email
    Email : #{@user.email}
  %br
  %span#password
    Password: #{@password}
%p
  - link_to(url = activate_user_url(:activation_code => @user.perishable_token), :id => 'activation') do
    = url
