%p
  Email :
  %span#email= @user.email
  %br
  Password:
  %span#password= @password
%p
  - link_to(url = activate_user_url(:activation_code => @user.perishable_token), :id => 'activation') do
    = url
