.account-area
  .prefix_4.grid_8
    %h2= t(:forgotten_password, :scope => [:user, :action]).capitalize
    - form_tag(reset_password_user_path, :html => { :autocomplete => false }, :class => 'account-form') do
      .grid_2
        = label_tag(:email, t(:email))
      .grid_5
        = text_field_tag(:email)
      .grid_5.prefix_2
        = submit_tag('send', :id => 'forgotten_password_submit')
      .clear
  .clear
