.account-area.new_password
  .prefix_4.grid_8
    %h2= t('new_password', :scope => [:user, :action]).capitalize
    - form_for(@user, :url => user_path, :html => { :autocomplete => false }) do |f|
      = password_fields(f, :label_class => 'grid_3', :field_class => 'grid_4')
      .grid_5.prefix_2
        = f.submit t('action', :scope => [:user, :reset_password])
      .clear
  .clear
