.account-area.new_password
  .prefix_4.grid_8
    %h2= t('new_password', :scope => [:user, :action]).capitalize
    - form_for(@user, :url => update_password_user_path, :html => { :autocomplete => false }) do |f|
      = hidden_field_tag :user_token, f.object.perishable_token
      = password_fields(f, :label_class => 'grid_3', :input_class => 'grid_4')
      .grid_5.prefix_2
        = f.submit t('reset_password', :scope => [:user, :action])
      .clear
  .clear
