%h2 Récupérer un nouveau mot de passe
- form_tag :action => 'reset_admin_password' do
  %fieldset.account-form
    = label_tag :email, I18n.t('email').capitalize
    = text_field_tag 'email', nil, :class => 'text'
    = submit_tag 'envoyer', :class => 'submit-connexion commander'
    = link_to "Retour à la page précédente", :action => 'new'
